//Media Querries
//Extra Large
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

//Large
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

//Medium
@include mediaMd {
    .break {
        display: block;
    }
    .header {
        padding-top: 3rem;
        &-logo {
            display: inline-block;
        }
        .icons {
            font-size: 6vw;
        }
    }
    .main {
        align-items: center;
        text-align: center;
    }
    h1,h2,h3 {
        &.lg-heading {
            font-size: 5rem;
            line-height: 1;
            margin-bottom: 1rem;
            display: inline-block;
        }
    }
    
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

//Small
@include mediaSm {
    .header {
        padding-top: 2vh;
        &-logo {
          display: block;
          margin-top: 2rem;
          .portrait {
            margin: 0 auto;
            width: 100%;
            height: 40vh;
          }    
        }
        h1,h2,h3{
            &.lg-heading {
                display: block;
                margin-bottom: 3vh;
                font-size: 10vw;
                text-align: center;
                margin-top: -5vh;
            }
            &.sm-heading {
                font-size: 6vw;
                margin-bottom: 5vh;
                text-align: center;
            }
        }
        .icons {
            text-align: center;
            margin-top: 8vh;
        }

    }
    .main {
        padding: 4rem 2rem;
        .projects {
            grid-template-columns: 1fr;
        }
    }
}